*{
    box-sizing: border-box;
}


/*navigation*/

nav{
    background-color: rgb(252, 168, 168);
    padding: 10px;;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

a:link {
    color: red;
    text-decoration: none;
    border-bottom: 1px solid red;
}


/*navigation-2*/