*{
    box-sizing: border-box;
}

nav{
    background-color: rgb(252, 168, 168);
    height: 40px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: red;
    color: white;
    text-decoration: none;
    

    display: flex;

    
}


ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    padding: 0%;

    column-gap: 40px;

    
 
}

a:link {
    color: red;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    border-left: 1px solid red;
}

.flex-item{
    padding-right: 35px;
}