*{
    box-sizing: border-box;
}

nav{
    background-color: rgb(252, 168, 168);

    height: 40px;
    width: 800px;

    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    
    padding: 0%;
 
}

a:link {
    color: red;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px,;
    border-right: 1px solid red;
}


.flex-item {
    border-right:none;
}