*{
    box-sizing: border-box;
}

nav{
    background-color: rgb(252, 168, 168);
    padding: 10px;

}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

ul a {
    color: red;
    
    padding: 15px;
    padding-right: 200px;
    border-right: 1px solid red;

    

}


.flex-item a {
    border-right:rgb(252, 168, 168);
    padding-right: 15px;
}


