*{
    box-sizing: border-box;
}

nav{
    background-color: rgb(252, 168, 168);
    padding: 10px;;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

