*{
    box-sizing: border-box;
}

.nav{
    background-color: rgb(252, 168, 168);

    height: 40px;
 

    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

ul a {
    color: red;
    
    padding: 10px 20px;
    border-right: 1px solid red;
}


.flex-item a {
    border-right:rgb(252, 168, 168);
}