<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout-2.html</title>
    <link rel="stylesheet" href="styles-2.css">
</head>
<body>
<div class="container">
    <header class="header">
            <h1 class="side"><a href="#">Side Title</a></h1>
                    <ul class="main-nav">
                        <li><a href="*">Item 1</a></li>
                        <li><a href="*">Item 2</a></li>
                        <li><a href="*">Item 3</a></li>
                        <li><a href="*">Item 4</a></li>
                    </ul>
    </header>

        <div class="big">
    <div class="nav">
        <ul>
            <h2>Nav</h2>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>

    <main>
        <div class="1">
            <h1>Main Content</h1>

            <h2>I'm first in the source order</h2>

            <p>Nullam at arcu sed justo auctor cursus sit amet a justo. Maecenas eu venenatis risus, et volutpat orci. Suspendisse potenti. Nullam at lorem varius mauris convallis varius ut nec ipsum. Donec ac ex ultrices, blandit augue nec, efficitur dolor. Donec sed mi a ipsum maximus iaculis sed id dolor.</p>

            <p>Nullam at arcu sed justo auctor cursus sit amet a justo. Maecenas eu venenatis risus, et volutpat orci. Suspendisse potenti. Nullam at lorem varius mauris convallis varius ut nec ipsum. Donec ac ex ultrices, blandit augue nec, efficitur dolor. Donec sed mi a ipsum maximus iaculis sed id dolor.</p>

            <p>Nullam at arcu sed justo auctor cursus sit amet a justo. Maecenas eu venenatis risus, et volutpat orci. Suspendisse potenti. Nullam at lorem varius mauris convallis varius ut nec ipsum. Donec ac ex ultrices, blandit augue nec, efficitur dolor. Donec sed mi a ipsum maximus iaculis sed id dolor.</p>
        </div>

        <div class="copy">
            <p>Copyright &copy; 2017</p>
        </div>  
    </main>     

    <aside>
        <h2>Sidebar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut lorem eu metus scelerisque luctus vel eu nibh. Aliquam erat volutpat. Maecenas aliquam.</p>
    </aside>

    </div>
      
</div>

</body>
</html>