* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    background-color: #ddd;
}

/* 1 */

.box {
    border: 1px dashed gray;
    padding: 70px;
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* 2 */

.wrapper {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px dashed gray;
}

.container {
    max-width: 400px;
    min-height: 400px;

    display: flex;
    align-items: flex-start;

    border: 1px dashed gray;
}

.container_item {
    padding: 20px;

    border: 2px solid pink;
}

.container_item-start {
    align-self: flex-start;
}

.container_item-center {
    align-self: center;
}

.container_item-end {
    align-self: flex-end;
}




/* 3 */

.up {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.centre {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.down {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-self: flex-end;
}


/* 4 */

.box4 {
    border: 1px dashed gray;
    padding: 70px;
    height: 800px;

    display: flex;
    flex-direction: column-reverse;
}

.row1 {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.row2 {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    flex-direction: column;   
}

.row3 {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    flex-direction: column;
}